#header{
  height: 100px;
  color: orange;
}
body {
  font-family: Arial;
  color: #ABB2BF;
  background-color: #282C34;
}
.navbar-inverse {
  margin: 10px;
  color: #ABB2BF;
  border-color: #ABB2BF;
  background-color: #282C34;
}
.glyphicon {
  font-size: 40px;
}
